.output {
    font-weight: bold;
        }

#payment {
    text-decoration: underline;
         }

#graph {
    border: solid black 1px;
       }

th, td {
    vertical-align: top;
       }

#tblCalc
{
    margin-top: 30px;
    padding: 10px
}